[Credentials]
jid = bot-jid@domain.your
password = 12345678

[Contacts]
jid1 = chat-jid@domain.your
jid2 = friend-jid@domain.your

[Files]
messages=/var/log/messages
apache=/var/log/apache/access.log
